*.user
*.ncb
*.suo
*.old
*.ipch
*.sdf
*.opensdf

UpgradeLog*.XML
UpgradeLog*.htm

/ipch/

/XtOS/_UpgradeReport_Files
/BosFS/_UpgradeReport_Files
/BosFS-Dokan/_UpgradeReport_Files
/BoredOS/_UpgradeReport_Files

/XtOS/TestApplication/Debug
/XtOS/TestApplication/Release

/XtOS/SystemLib/Debug
/XtOS/SystemLib/Release

/XtOS/ServiceHandler/Debug
/XtOS/ServiceHandler/Release

/XtOS/Debug
/XtOS/Release

/Temp
/Debug
/Release
/Output

/Libraries/Debug
/Libraries/Release

/KTestDriver/Debug
/KTestDriver/Release

/KDriverRuntime/Debug
/KDriverRuntime/Release

/Fatten/Debug
/Fatten/Release

/BosFS/Debug
/BosFS/Release

/BosFS-Dokan/Debug
/BosFS-Dokan/Release

/BoredOS/Debug
/BoredOS/Release

/APILib/Debug
/APILib/Release

/BuildCustomization/masm.props
/BuildCustomization/masm.targets
/BuildCustomization/masm.xml
